<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
			class="sr-only">Закрыть</span></button>
	<h4 class="modal-title" id="modal-title">Фиксация долга</h4>
</div>
<form action="">
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group"><label class="block-label" for="">Текущий долг:</label>
					<input class="form-control" type="number"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group"><label class="block-label" for="">Сумма фиксации:</label>
					<input class="form-control" type="number"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group"><label class="block-label" for="">Срок, дней:</label>
					<input class="form-control" type="number"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group"><label class="block-label" for="">Комментарий:</label>
					<textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger">Фиксировать долг</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	</div>
</form>