<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
			class="sr-only">Закрыть</span></button>
	<h4 class="modal-title" id="modal-title">Восстановление пароля</h4>
</div>
<div class="modal-body">
	<p>
		Чтобы восстановить пароль, отправьте письмо в теххподдержку: <a href="mailto:info@micoin.ru">info@micoin.ru</a>
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>