body {
	padding-top: @navbar-height;
}

.b-main-bg {
	background: url("images/enter-bg.png") no-repeat center top;
	color: #fff;
}

.b-enter-title {
	margin-top: 15px;
}

.b-enter-form {
	margin-bottom: 40px;

	a {
		color: #fff;
	}
}

.form-group__with-submit {
	position: relative;
}

.micoin-submit {
	background: none;
	border: none;

	position: absolute;
	bottom: -1px;
	right: -80px;
}

.col-pos-relative {
	position: relative;
}

.b-enter-terminal {
	position: absolute;
	top: -200px;

	img {
		.img-responsive();
		margin-right: -40px;
	}
}

.b-enter-contacts {
	margin-top: 40px;
	margin-left: 40px;
}

.b-enter-contacts--value {
	font-size: @font-size-h2;
	margin-bottom: 10px;

	&, a {
		color: @micoin-blue;
	}
}