.page-inner {
	min-height: 100%;
	position: relative;
	body {
		margin-bottom: @micoin-footer-height;
		font-weight: 300;
	}
}

.b-user-menu {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;

}

.b-user-menu--container {
	position: relative;
	display: block;


	border-radius: 2px;
	background: #f9f9f9;
	border: #99aeb7;
	padding: 3px;
	margin-top: 7px;
	margin-right: @grid-gutter-width/2;
}
.b-user-menu--toggle {
	display: inline-block;
	margin: 0 3px;
	position: relative;
	color: #717171;
	border-bottom: 1px dotted #717171;
	text-decoration: none;

	&:hover,&:active,&:focus  {
		text-decoration: none;
		color: lighten(#717171, 15%);
		border-bottom: 1px solid lighten(#717171, 15%);
	}
}

.b-menu-item--badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	margin-left: @tooltip-arrow-width+2px;
	font-size: 11px;
	font-weight: 300;
	color: #000;
	line-height: @badge-line-height;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	border: 1px solid #2d8ab7;
	position: relative;

	.box-shadow(1px 1px 3px fade(#2d8ab7,50%));

	&:empty {
		display: none;
	}

	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		top: 50%;
		left: -@tooltip-arrow-width;
		margin-top: -@tooltip-arrow-width;
		border-width: @tooltip-arrow-width @tooltip-arrow-width @tooltip-arrow-width 0;
	}
}

.b-menu-item--badge_type-warning {
	background: #ffcc29;
	&::before {
		border-right-color: #ffcc29;
	}
}
.b-menu-item--badge_type-error {
	color: #fff;
	background: #f25656;
	&::before {
		border-right-color: #f25656;
	}
}

.b-filter {
	margin: 25px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid @micoin-blue;
}

.block-label {
	display: block;
	font-size: @font-size-large;
	margin-bottom: 10px;
}

.form-control_inline {
	display: inline-block;
	width: auto;
}

.form-control__borderless {
	border: none;
	padding-left: 0;
	padding-right: 0;

	&,&:focus, &:active {
		.box-shadow(none);
	}
}

.form-control__size-xl {
	font-size: @font-size-large;
	font-weight: 400;
	height: 38px;
}

.form-control__color-brand {
	color: @micoin-blue;
}

.form-control__align-right {
	text-align: right;
}


.form-group__no-inputs {
	line-height: 34px;
}

.form-value {
	//
	padding-top: 3px;
	font-size: @font-size-large;
	font-style: italic;
	margin-bottom: 15px;
}

.form-value__inline {
	display: inline-block;
	width: auto;
}

.form-group__with-icons {
	padding-left: @micoin-form-icon-size + 10px;
	margin-bottom: 20px;

	.form-control {
		margin-bottom: 15px;
	}
}

.form-group--iconized-input {
	position: relative;
	margin-left: -(@micoin-form-icon-size + 10px);
	padding-left: @micoin-form-icon-size + 10px;
}


.form-group__inline {
	margin-bottom: 5px;
	label {
		font-weight: 300;
		font-style: italic;
		font-size: @font-size-large;
		margin-right: 5px;
	}
	.form-control {
		display: inline-block;
		width: auto;
	}
}

.b-input-group--icon {
	position: absolute;
	top: 0;
	left: 0;
	height: @micoin-form-icon-size;
	width: @micoin-form-icon-size;
	line-height: 34px;
	font-size: @micoin-form-icon-size;
	color: @micoin-blue;
}

.b-application-section {
	margin-bottom: 15px;
}

.b-application-section__bordered {
	padding-bottom: 14px;
	border-bottom: 1px solid @micoin-blue;
}
.b-application-header {
	margin: 25px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid @micoin-blue;
}

.b-application-title {
	margin: 0 -@grid-gutter-width/2 20px;
	padding: 4px @grid-gutter-width/2;
	overflow: hidden;
	font-size: @font-size-base;
	background: @micoin-gray;

	a {
		display: block;
		text-align: right;
		color: #000;
		text-decoration: underline;
		font-size: @font-size-small;
		font-style: italic;
	}
}

.b-application-title__type-new {
	background: @micoin-new-header-bg;
}

.b-application-title__type-active {

}

.b-application-title--status {
	text-align: right;
}

.b-application-meta {
	margin-bottom: 20px;
}

.b-application-meta--highlited {
	color: @micoin-blue;
	font-weight: 500;
	margin-bottom: 10px;
	display: block;
}

.b-photos {
	margin-bottom: 15px;
}

.b-photos--fotorama {
	.fotorama__wrap {
		margin-right: auto;
		margin-left: auto;
	}
}

.b-add-support {
	margin-bottom: 15px;
}

.b-subsection-title {
	font-weight: 300;
	color: @micoin-gray-darker;
}

.b-reliability {
	position: relative;
}

.b-reliability--container {
	width: @micoin-reliability-size;
	height: @micoin-reliability-size;
	margin: 15px auto;

	border-radius: 100%;
	background: @micoin-gray;
}

.b-reliability--container__type-bad {
	background: @micoin-reliability-bad;

	.b-reliability--percent {
		color: @micoin-reliability-bad;
	}
}

.b-reliability--container__type-medium {
	background: @micoin-reliability-medium;

	.b-reliability--percent {
		color: @micoin-reliability-medium;
	}
}

.b-reliability--container__type-good {
	background: @micoin-reliability-good;

	.b-reliability--percent {
		color: @micoin-reliability-good;
	}
}

.b-reliability--value {
	color: #fff;
	text-align: center;
	line-height: @micoin-reliability-size;
	font-size: @micoin-reliability-font-size;
	font-weight: 400;

}
.b-reliability--percent {
	position: relative;
	display: inline-block;

	bottom: @micoin-reliability-size*1.1;
	left: @micoin-reliability-size*.87;

	font-size: @micoin-reliability-font-size;
	font-weight: 500;
	color: @micoin-gray;
}

.b-recommendations--list {
	margin-bottom:  0;

	dt,dd {
		font-size: @font-size-h2;
		display: inline-block;
		margin-bottom: 10px;
	}

	dt {
		font-weight: 300;
		width: 30%;
	}

	dd {
		width: 65%;
		font-weight: 400;
		color: @micoin-blue;
	}
}

.b-advices--list {
	list-style: none;
	padding-left: 0;
	font-size: @font-size-large;
	font-weight: 300;

	li {
		margin-bottom: 10px;
	}
}
.btn-block {
	margin-top: 15px;
	margin-bottom: 15px;
}

.table--line_type-ok {
	background-color: @table-ok-line-bg!important;
	&:hover {
		background-color: @table-ok-line-hover-bg!important;
	}
}
.table--line_type-fail {
	background-color: @table-fail-line-bg!important;
	&:hover {
		background-color: @table-fail-line-hover-bg!important;
	}
}

.pagination__applications {
	vertical-align: middle;
	margin-top: 0;
}

.b-applications-count {
	text-align: right;
}

.b-applications-count--counter {
	font-size: @font-size-large;
}

.b-page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: @micoin-footer-height;

	line-height: @micoin-footer-height;;
	background: @micoin-blue;
	color: #fff;
	text-align: center;
	font-size: @font-size-small;
}