// Default navbar
.navbar-micoin-enter {
	background-color: #fff;
	border: none;
	.box-shadow(0 0 10px 5px rgba(0, 0, 0, .25));
}

.navbar-micoin-inner {
	background-color: @micoin-navbar-inner-bg;
	color: @micoin-navbar-inner-color;

	.navbar-text {
		color: @micoin-navbar-inner-color;
	}

	.navbar-nav {
		> li > a {
			color: @micoin-navbar-inner-link-color;

			&:hover,
			&:focus {
				color: @micoin-navbar-inner-link-hover-color;
				background-color: @micoin-navbar-inner-link-hover-bg;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: @micoin-navbar-inner-link-active-color;
				background-color: @micoin-navbar-inner-link-active-bg;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: @micoin-navbar-inner-link-disabled-color;
				background-color: @micoin-navbar-inner-link-disabled-bg;
			}
		}
	}

	.navbar-toggle {
		border-color: @micoin-navbar-inner-toggle-border-color;
		&:hover,
		&:focus {
			background-color: @micoin-navbar-inner-toggle-hover-bg;
		}
		.icon-bar {
			background-color: @micoin-navbar-inner-toggle-icon-bar-bg;
		}
	}

	.navbar-collapse,
	.navbar-form {
		border-color: @micoin-navbar-inner-border;
	}

	// Dropdown menu items
	.navbar-nav {
		// Remove background color from open dropdown
		> .open > a {
			&,
			&:hover,
			&:focus {
				background-color: @micoin-navbar-inner-link-active-bg;
				color: @micoin-navbar-inner-link-active-color;
			}
		}

		@media (max-width: @grid-float-breakpoint-max) {
			// Dropdowns get custom display when collapsed
			.open .dropdown-menu {
				> li > a {
					color: @micoin-navbar-inner-link-color;
					&:hover,
					&:focus {
						color: @micoin-navbar-inner-link-hover-color;
						background-color: @micoin-navbar-inner-link-hover-bg;
					}
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: @micoin-navbar-inner-link-active-color;
						background-color: @micoin-navbar-inner-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: @micoin-navbar-inner-link-disabled-color;
						background-color: @micoin-navbar-inner-link-disabled-bg;
					}
				}
			}
		}
	}

	// Links in navbars
	//
	// Add a class to ensure links outside the navbar nav are colored correctly.

	.navbar-link {
		color: @micoin-navbar-inner-link-color;
		&:hover {
			color: @micoin-navbar-inner-link-hover-color;
		}
	}

	.btn-link {
		color: @micoin-navbar-inner-link-color;
		&:hover,
		&:focus {
			color: @micoin-navbar-inner-link-hover-color;
		}
		&[disabled],
		fieldset[disabled] & {
			&:hover,
			&:focus {
				color: @micoin-navbar-inner-link-disabled-color;
			}
		}
	}

}