@media (max-width: @screen-md-max) {

}

@media (max-width: @screen-sm-max) {

}

@media (max-width: @screen-xs-max) {
	.micoin-submit {
		position: static;
		display: block;
		margin: 20px auto 0;
	}

	.b-enter-contacts {
		margin-left: 0;
	}

	.form-group__with-icons {
		padding-left: 0;
	}

	.form-group--iconized-input {
		margin-left: 0;
	}
}