// colors
@micoin-blue: #36a7de;
@micoin-red: #f74051;
@micoin-yellow: #ffcc29;
@micoin-green: #baffbc;
@micoin-gray: #e2e2e2;
@micoin-gray-darker: #5e5e5e;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@micoin-navbar-inner-color:             #fff;
@micoin-navbar-inner-bg:                @micoin-blue;
@micoin-navbar-inner-border:            darken(@micoin-navbar-inner-bg, 6.5%);

// Navbar links
@micoin-navbar-inner-link-color:                #fff;
@micoin-navbar-inner-link-hover-color:          #fff;
@micoin-navbar-inner-link-hover-bg:             darken(@micoin-navbar-inner-bg, 4.5%);
@micoin-navbar-inner-link-active-color:         #fff;
@micoin-navbar-inner-link-active-bg:            darken(@micoin-navbar-inner-bg, 6.5%);
@micoin-navbar-inner-link-disabled-color:       #ccc;
@micoin-navbar-inner-link-disabled-bg:          transparent;

// Navbar brand label
@micoin-navbar-inner-brand-color:               @micoin-navbar-inner-link-color;
@micoin-navbar-inner-brand-hover-color:         darken(@micoin-navbar-inner-brand-color, 10%);
@micoin-navbar-inner-brand-hover-bg:            transparent;

// Navbar toggle
@micoin-navbar-inner-toggle-hover-bg:           darken(@micoin-navbar-inner-bg,10%);
@micoin-navbar-inner-toggle-icon-bar-bg:        lighten(@micoin-blue,15%);
@micoin-navbar-inner-toggle-border-color:       #ddd;

//== Tables
//
//##

@table-ok-line-bg: @micoin-green;
@table-ok-line-hover-bg: darken(@table-ok-line-bg, 5%);

@table-fail-line-bg: lighten(@micoin-red,20%);
@table-fail-line-hover-bg: darken(@table-fail-line-bg, 5%);

//== Inner pages
//
//##

@micoin-new-header-bg: @micoin-green;

@micoin-form-icon-size: 28px;

//== Reliability sign
//
//##

@micoin-reliability-size: 140px;
@micoin-reliability-font-size: 60px;
@micoin-reliability-bad: @micoin-red;
@micoin-reliability-medium: @micoin-yellow;
@micoin-reliability-good: #40f789;

//== Footer
//
//##

@micoin-footer-height: 30px;